<plugin name='roombix-ui' version='0.1' grailsVersion='2.3.0 &gt; *'>
  <author>Your name</author>
  <title>Roombix Ui Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/roombix-ui</documentation>
  <type>RoombixUiGrailsPlugin</type>
  <resources>
    <resource>RoombixUiPluginResources</resource>
  </resources>
</plugin>